<mat-toolbar style="background-color: #ffb80f; color: #f8f8f8">
  <mat-toolbar-row>
    <span>Campus - Hochschule Pforzheim</span>
    <span class="example-spacer"></span>
    <span>{{systemDateTime.toLocaleDateString('de-DE')}} | {{("0" + systemDateTime.getHours()).slice(-2)}}:{{("0" + systemDateTime.getMinutes()).slice(-2)}} Uhr</span>
  </mat-toolbar-row>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Transportation Image Column -->
  <ng-container matColumnDef="transportationType">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <span class="material-icons" *ngIf="element.transportationType === 'Bus'">directions_bus</span>
      <span class="material-icons" *ngIf="element.transportationType === 'Car'">directions_car</span>
    </td>
  </ng-container>

  <!-- Transportation Number Column -->
  <ng-container matColumnDef="transportationNumber">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> {{element.transportationNumber}} </td>
  </ng-container>

  <!-- Departure Time Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Uhrzeit</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.actualTime !== ''; else loggedOut">
        {{element.actualTime}}
      </div>
      <ng-template #loggedOut>
        {{element.time}}
      </ng-template>
    </td>
  </ng-container>

  <!-- Departure Place Column -->
  <ng-container matColumnDef="departure">
    <th mat-header-cell *matHeaderCellDef> Abfahrt</th>
    <td mat-cell *matCellDef="let element"> {{element.departure}} </td>
  </ng-container>

  <!-- Departure Place Column -->
  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef> Ziel</th>
    <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
